.burger {
  position: absolute;
  z-index: 10;
  right: 30px;
  top: 30px;
  cursor: pointer;
  transform: rotateY(0deg);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
  .burger__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: #EDEEEC;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); }
    .burger__patty:last-child {
      margin-bottom: 0; }
  .burger--close {
    transform: rotate(180deg); }
    .burger--close .burger__patty:nth-child(1) {
      transform: rotate(45deg) translate(4px, 4px); }
    .burger--close .burger__patty:nth-child(2) {
      opacity: 0; }
    .burger--close .burger__patty:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -4px); }

.menu {
  width: 100%;
  height: auto;
  position: fixed;
  margin: 0 auto;
  padding: 38px 0;
  transition: all .4s;
  z-index: 9; }
  .menu__leftBlock {
    position: absolute;
    top: 19px;
    left: 30px; }
  .menu__btn, .slider__btn {
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer; }
    .menu__btn:hover, .slider__btn:hover {
      text-decoration: none; }
    .menu__btn:focus, .slider__btn:focus {
      text-decoration: none; }
    .menu__btn_orange {
      background: linear-gradient(119deg, rgba(245, 141, 88, 0.75) 0%, rgba(192, 54, 70, 0.75) 100%);
      color: #EDEEEC;
      border-radius: 23px; }
      .menu__btn_orange:hover, .menu__btn_orange:focus {
        background: #d15f52;
        color: #EDEEEC; }
  .menu__phone {
    font-family: FuturaPTLight;
    padding: 7px 20px;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #EDEEEC; }
    .menu__phone:hover {
      text-decoration: none;
      color: #EDEEEC; }
    .menu__phone:focus {
      text-decoration: none;
      color: #EDEEEC; }
    .menu__phone i {
      color: #f6d576;
      margin-right: 5px; }
    .menu__phone span {
      font-family: FuturaPTBold; }
  .menu_scroll {
    background: linear-gradient(119deg, rgba(150, 58, 125, 0.75) 0%, rgba(76, 60, 122, 0.75) 100%); }
  .menu nav {
    background: #dc847a;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }
    .menu nav ul {
      font-family: 'RobotoLight', sans-serif;
      font-size: 2.4rem;
      font-weight: 300;
      color: #EDEEEC;
      text-align: center;
      margin: 0;
      padding: 0; }
      .menu nav ul li {
        list-style: none;
        margin: 30px 0 0 0; }
        .menu nav ul li:first-child {
          margin: 0; }
        .menu nav ul li .link {
          font-family: RobotoBold;
          color: #EDEEEC;
          text-decoration: none;
          text-transform: uppercase;
          transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); }
          .menu nav ul li .link:hover {
            border-bottom: solid 1.5px #EDEEEC;
            padding: 0 0 2px; }

.menu.open nav {
  visibility: visible;
  opacity: 1; }

.slider {
  background: rgba(0, 0, 0, 0.45) none repeat scroll 0 0;
  margin: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .slider__wrapper {
    height: 750px;
    width: 100%;
    position: relative;
    overflow: hidden; }
  .slider__cover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url(../images/bg1.jpg) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    transition: -webkit-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    -o-transition: transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82), -o-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    transition: transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    transition: transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82), -webkit-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82), -o-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    z-index: -1; }
    .slider__cover_scaling {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
  .slider__intro {
    margin-top: 150px;
    color: rgba(213, 196, 170, 0.75); }
  .slider__heading {
    font-size: 73px;
    font-family: RobotoBold; }
  .slider h1 {
    font-size: 23px;
    font-family: RobotoBold;
    line-height: 1.5; }
  .slider__btn {
    margin-top: 30px; }
    .slider__btn_big {
      background: #bd48a3;
      background: linear-gradient(119deg, rgba(189, 72, 163, 0.45) 0%, rgba(227, 75, 96, 0.65) 100%);
      padding: 20px 30px;
      border-radius: 35px;
      font-size: 16px;
      font-family: RobotoBold;
      text-transform: uppercase;
      color: rgba(213, 196, 170, 0.75); }
      .slider__btn_big:hover, .slider__btn_big:focus {
        background: rgba(227, 75, 98, 0.65);
        color: rgba(213, 196, 170, 0.75); }

.semicircle {
  margin: -150px -15%;
  height: 150px;
  overflow: hidden;
  position: relative; }
  .semicircle__item {
    width: 100%;
    height: 800px;
    background: #d5c4aa;
    border-radius: 50% 50% 0 0;
    text-align: center; }
  .semicircle__heading {
    font-family: RobotoBold;
    color: rgba(2, 3, 4, 0.75);
    font-size: 56px;
    text-align: center;
    padding-top: 50px;
    display: inline-block;
    position: relative;
    z-index: 1; }
    .semicircle__heading:before {
      top: 50px;
      width: 70px;
      height: 20px;
      content: "";
      position: absolute;
      background-color: #ff9966;
      border-radius: 10px;
      z-index: -1; }
    .semicircle__heading:after {
      bottom: -5px;
      width: 70px;
      left: 0;
      height: 20px;
      content: "";
      position: absolute;
      background-color: #DC847A;
      border-radius: 10px;
      z-index: -1;
      transform: rotate(-5deg); }

.service {
  margin-top: 150px; }

body {
  font-family: RobotoLight;
  font-size: 22px;
  font-weight: 300;
  color: #2c2d30;
  background: #d5c4aa; }

/*# sourceMappingURL=main.css.map */
