.slider {
  background: url(../images/mosk.png) 0 0;
  margin: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &__wrapper {
    height: 750px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &__cover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url(../images/bg1.jpg) no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    transition: -webkit-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    -o-transition: transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82), -o-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    transition: transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    transition: transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82), -webkit-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82), -o-transform 5s cubic-bezier(0.12, 0.53, 0.42, 0.82);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    z-index: -1;

    &_scaling {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }

  }

  &__intro {
    margin-top: 150px;
    color: $colorSliderIntro;
  }

  &__heading {
    font-size: 73px;
    font-family: $robotoBold;
  }
  & h1 {
    font-size: 23px;
    font-family: $robotoBold;
    line-height: 1.5;
  }
  &__btn {
    @extend .menu__btn;
    margin-top: 30px;

    &_big {
      background: rgba(#bd48a3, 1);
      background: linear-gradient(119deg, rgba(189,72,163,.45) 0%, rgba(227,75,96,.65) 100%);
      padding: 20px 30px;
      border-radius: 35px;
      font-size: 16px;
      font-family: RobotoBold;
      text-transform: uppercase;
      color: $colorSliderBtn;
      &:hover, &:focus {
        background: rgba(#e34b62, .65);
        color: $colorSliderBtn;
      }
    }
  }

}