// Variables menu
$grayLight: #EFECEA;
$bgPopupMenu: rgba(#DC847A,1);
$menyScroll: rgba(#2b225b,.9);
$orange: #DC847A;
$white: #EDEEEC;
$yellow: #f6d576;
$colorSliderIntro: rgba(#D5C4AA, .75);
$colorSliderBtn: rgba(#D5C4AA, .75);
$bgSemicircle: rgba(#D5C4AA, 1);
$bgbody: rgba(#D5C4AA, 1);
$colorLinksService: rgba(#D5C4AA, 1);
// varibles fonts

$robotoBold: RobotoBold;
$robotoLight: RobotoLight;
$robotoRegular: RobotoRegular;
$futuraPTLight: FuturaPTLight;