// Variables menu
$grayLight: #EFECEA;
$bgPopupMenu: rgba(220,132,122,1);
$menyScroll: rgba(77,54,108,.75);
$orange: #DC847A;
$white: #EDEEEC;
// varibles fonts

$robotoBold: RobotoBold;
$robotoLight: RobotoLight;
$futuraPTLight: FuturaPTLight;