@import "variables";
@import "mixins";
@import "menu";
@import "slider";
@import "semicircle";
@import "services";
body{
  font-family: $robotoLight;
  font-size: 18px;
  font-weight: 300;
  color: #2c2d30;
  background: $bgbody;
}
.addClassBody {
  margin-right: 17px;
  overflow: auto;
  height: 100%;
}
